 <section class="Todopage-section-todo">
    <div class="Todopage-tasktitle">
        <p class="Todopage-tasktitle-text"><%= section_title %> </p>
        <p class="Todopage-tasktitle-count"><%= todos.completed.count %>/<%= todos.count %> </p>
    </div>
    <ul class="Todopage-section-list">
        <% todos.each do |todo| %>
            <li class="Todopage-li">
                
                <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                    <%= check_box_tag "completed", nil, todo.completed, class: "Todopage-checkbox", onclick: "this.form.submit()" %>
                <% end %>

                <p class='TodoItem-Text  <%= todo.completed ? "TodoItem-compeletedText" : "" %>' > 
                    <%= todo.todo_text %>
                </p>
                <% if show_due_date %>
                    <p for="todo_<%= todo.id %>" class="Todopage-label-due_date"><%= todo.due_date.to_s(:short) %></p>
                <% end %>
                <a href="javascript:void(0)">
                    <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                        <%= image_submit_tag("delete.svg", class: "Todopage-img") %>
                    <% end %>
                </a>
            </li>
        <% end %>
    </ul>
</section>