<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Management App</title>
    
</head>

<body>

    <main class="TodopageMain">
        <h1 class="Todopage-title">My Todo-list</h1>
        <atrticle class="Todopage-article">
            
            <%= form_with(url: "/todos", method: "post", class: "Todopage-section-add") do %>
                <%= text_field_tag "todo_text", nil, placeholder: 'What\'s next?', class: "Todopage-input" %>
                <%= date_field_tag "due_date", Date.today, class: "Todopage-input" %>
                <%= submit_tag "Add", class: "Todopage-input  Todopage-input-button" %>
            <% end %>
            
            <%= render partial: "todo-section",
                       locals: {
                         section_title: "Overdue",
                         todos: Todo.overdue,
                         show_due_date: true,
                       } %>
            <%= render partial: "todo-section",
                       locals: {
                         section_title: "Due Today",
                         todos: Todo.due_today,
                         show_due_date: false,
                       } %>
            
            <%= render partial: "todo-section",
                       locals: {
                         section_title: "Due Later",
                         todos: Todo.due_later,
                         show_due_date: true,
                       } %>
        </atrticle>
    </main>
</body>

</html>